ssh через туннель

Ставим MacPorts, если не установлен
Ставим corkscrew: 
$ sudo port install corkscrew

Добавляем в файл ~/.ssh/config:

Host github.com
        Hostname ssh.github.com
        Port 443
        ProxyCommand corkscrew 192.168.150.1 3128 %h %p

192.168.150.1 3128 - настройка местной прокси
